<mat-card>
  <img src="../../../../assets/imagenes/banderas.png" alt="banderas">
  <mat-list>
    <div mat-subheader>
      Todas las categorías
    </div>
    <mat-divider></mat-divider><br>
    <mat-list-item class="titulo" *ngFor = "let c of categorias">
      <mat-icon mat-list-icon>category</mat-icon>
      <div mat-line>{{ c.titulo }}</div>
      <div mat-line>{{ c.descripcion }}</div>
    </mat-list-item>
  </mat-list><br>
  <mat-divider></mat-divider>

  <div class="container text-center mt20">
    <button routerLink="/admin" mat-raised-button color="accent">Volver</button>
    <button routerLink="/admin/add-categoria" mat-raised-button color="primary">Agregar categoría</button>
  </div>
</mat-card>
