<footer class="container2 ">
    <div class="text-center">
        <p style="color: antiquewhite;"><img src="../../../assets/iconoActive1.png" alt="logo" style="width: 150px;">
         &copy; 2024 Escuela de Idiomas Active-Language</p>
    </div>

    <div id="redes-sociales">
        <!-- Botón y logotipo de Facebook -->
        <a href="https://www.facebook.com/sharer/sharer.php?u=" target="_blank" class="text-light">
            <img src="assets/imagenes/face.png" alt="Facebook" class="img-fluid redes" />
            Facebook
        </a>

        <!-- Botón y logotipo de Twitter -->
        <a href="https://twitter.com/intent/tweet?url=" target="_blank" class="text-light">
            <img src="assets/imagenes/twitter_x_musk_logo14.jpg" alt="Twitter" class=" img-fluid redes " />
            Twitter X
        </a>
        <!-- Botón y logotipo de instagram -->
        <a href="https://www.instagram.com/sprachschule_aktiv_freising/" target="_blank" class="text-light">
            <img src="assets/imagenes/instagram.png" alt="Facebook" class="img-fluid redes" />
            Instagram
        </a>

        <!-- Botón y logotipo de whatssapp -->
        <a href="https://www.whatsapp.com/" target="_blank" class="text-light">
            <img src="assets/imagenes/whats.png" alt="Twitter" class="img-fluid redes" />
            Whatsapp
        </a>
    </div>
</footer>
