<mat-toolbar class="navColor">
  <a [routerLink]="'/'" mat-icon-button class="example-icon" arial-label="Example icon-button with menu icon">
    <img src="../../../assets/iconoActive.png" alt="logo">
  </a>
  <span>Active-Language</span>
  <span class="example-spacer"></span>

  <!-- Implementación del Datepicker -->

  <!-- Si no está logueado -->
  <a *ngIf="!isLoggedIn" [routerLink]="'/login'" mat-button class="example-icon mr20 ml70"
    aria-label="Example icon-button">
    Iniciar sesión
  </a>

  <a *ngIf="!isLoggedIn" [routerLink]="'/signup'" mat-button class="example-icon mr20 ml70"
    aria-label="Example icon-button with heart icon">
    Registrar
  </a>

  <a *ngIf="isLoggedIn" (click)="logout()" mat-button class="example-icon"
    aria-label="Example icon-button ">
    Cerrar sesión
  </a>

  <!-- Si está logueado -->
  <button *ngIf="isLoggedIn && user" [routerLink]="user === 'ADMIN' ? '/admin/profile' : '/user-dashboard/profile'" 
          mat-button style="color: #091e79;" class="example-icon mr20 ml70"
          aria-label="Example icon-button"> {{ user.username }}
  </button>
  <mat-slide-toggle [checked]="isDarkTheme" (change)="toggleDarkMode()" aria-label="Example icon-button">
    Modo oscuro
  </mat-slide-toggle>

</mat-toolbar>