.example-spacer{
    flex: 1 1 auto;
  }
  
  .navColor{
    background-color: #ffffff;
    color: #091e79;
    height: 100px;
  }
  
  .navColor a, span, button{
    color: rgb(2, 34, 124);
  }

    .navColor a:hover{
      background-color: #122991;
        color: #ffffff;
    }

    .example-icon{
        justify-content: center;
        align-items: center;
        display: flex;
        color: white;
        font-size: 0.8em;
        margin: 0 1.0em;
    }

    .example-icon:hover{
        color: #1b3fdf;
    }

    a img{
        width: 70px;
        height: 70px;
        border-radius: 100%;
    }

    

