.profile-image{
  max-width: 150px;
  max-height: 150px;
  border: 2px solid gainsboro;
  border-radius: 40%;
  margin: 0 auto;
  display: block;
  margin-bottom: 10px;
  
}

.table{
  background-color: #ffffff;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);

}

.table tr td{
  font-weight: 450;
  padding: 15px 15px;
  border: 0.5px solid rgb(187, 183, 183);
  text-align: center;
}

.table tr td:first-child{
  font-weight:500;
  width: 49.5%;
}


.text-center{
  justify-content: center;
  text-align: center;
  padding: auto;
  color:#091e79;
}

/* Ocultar elementos que no queremos imprimir */
@media print {
  app-sidebar,
  col-md-3,
  button

  {
    display: none !important;
  }

}

button{
  margin: 10px;
}

.titulo{
  margin: 10px;
  font-size: 1.5rem;
  padding: 10px;
  color: #091e79;
}

.profile-page{
  background-color: #f7f7f7;
}