<mat-card class="mt20">
   <div class="container">
    <div class="row">
      <div class="col-md-12">
        <mat-card-header>
          <mat-card-title class="text-center">
            Bienvenido {{user.username}}
          </mat-card-title>
          <mat-card-subtitle class="text-center">Gestión de examenes </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="ml30">
          <h1></h1>
          <p></p>
          <mat-divider></mat-divider>
          <br>
          <h1 style="margin-left: 18px;">Funciones como administrador</h1>
          <ul>
            <li>Gestionar las	categorías</li>
            <li>Gestionar los exámenes</li>
            <li>Asignar exámenes a distintas categorías</li>
            <li>Gestionar las preguntas</li>
            <li>Asignar preguntas a cada examen</li>
            <li>Asignar puntaje a las preguntas</li>
          </ul>
          <mat-divider></mat-divider>
          <br>
        </mat-card-content>
      </div>
    </div>
   </div>
</mat-card>
