<!-- <div class = "bootstrap-wrapper">
    <div class = "container">
      <div class = "row mt20">
        <div class = "col-md-6 offset-md-3">
          <mat-card>
            <div class = "container text-center">
              <img src="../../../assets/login.png" width = "100" height = "100">
            </div>
  
            <h1 class = "text-center">Inicio de sesión</h1>
            <form (ngSubmit) = "formSubmit()">
              <mat-form-field class = "full-width"  appearance = "outline">
                <mat-label>Nombre de usuario</mat-label>
                <input [(ngModel)] = "loginData.username" name = "username" required  matInput placeholder="Digite su nombre de usuario" autocomplete="username">
                <mat-hint>El nombre de usuario debe ser valido</mat-hint>
              </mat-form-field>
              <mat-form-field class="full-width"  appearance = "outline">
                <mat-label>Contraseña</mat-label>
                <input [(ngModel)] = "loginData.password" name = "password" required  type="password" matInput placeholder="Digite su contraseña" autocomplete="current-password">
                <mat-hint>La contraseña debe ser valida</mat-hint>
              </mat-form-field>
  
              <br><br>
  
              <div class = "container text-center">
                <button type = "submit" mat-raised-button color="primary" >Iniciar sesión</button>
                <button type="reset" style = "margin-left: 20px;" mat-raised-button color="accent">Limpiar</button>
              </div>
            </form>
          </mat-card>
        </div>
      </div>
    </div>
  </div> -->


<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row mt20">
      <div class="col-md-6 offset-md-3 pt-5">
        <mat-card class="login">
          <div class="bg-surface-50 dark:bg-surface-950 ">
            <div class="dark:bg-surface-900 shadow-lg rounded-lg w-full">
              <div class="text-center mb-6">
                <img src="../../../assets/login1.png" width = "200" height = "200" style="padding-top:20px;">
                <h1 class="text-3xl font-bold dark:text-gray-100 mt-5">Bienvenido</h1>
                <p>
                  ¿Aún no tienes una cuenta?
                  <a href="#" class="text-primary font-semibold cursor-pointer">¡Regístrate ahora!</a>
                </p>
              </div>

              <form (ngSubmit) = "formSubmit()">
                <mat-form-field class = "w-full "  appearance = "outline">
                  <mat-label>Usuario</mat-label>
                  <input [(ngModel)] = "loginData.username" name = "username" required  matInput placeholder="Nombre de usuario" autocomplete="username">
                  <mat-icon matSuffix>mail</mat-icon>
                </mat-form-field>

                <mat-form-field class = "w-full "  appearance = "outline">
                  <mat-label>Contraseña</mat-label>
                  <input [(ngModel)] = "loginData.password" name = "password" required  type="password" matInput placeholder="Digite su contraseña" autocomplete="current-password">
                  <mat-icon matSuffix>visibility</mat-icon>
                </mat-form-field>

                <div class="flex items-center justify-center mb-6">
                  <mat-checkbox>Recordarme</mat-checkbox>
                  <a href="#" class="text-primary font-semibold cursor-pointer">¿Olvidaste tu contraseña?</a>
                </div>
                <div class="boton-log mt20 pt-4">
                <button mat-raised-button color="primary" class="w-full">
                  <mat-icon>login</mat-icon>
                  Iniciar Sesión
                </button>
              </div>
              </form>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>