<mat-card class="mt10" *ngFor="let e of examenes">
  <img src="../../../../assets/imagenes/certificados-idiomas-2022.webp" alt="cert">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>
      {{ e.titulo }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ e.descripcion }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary"
        [routerLink]="'/admin/ver-preguntas/'+e.examenId+'/'+e.titulo">
    <mat-icon mat-list-icon>list_alt</mat-icon>Preguntas
      </button>
      <button mat-stroked-button color="primary" class="ml20">Puntos máximos {{ e.puntosMaximos }}</button>
      <button mat-stroked-button color="primary" class="ml20">Preguntas {{ e.numeroDePreguntas }}</button>
      <button [routerLink]="'/admin/examen/'+e.examenId" mat-flat-button color="primary" class="ml20">
        <mat-icon mat-list-icon>edit</mat-icon>Editar
      </button>
      <button mat-flat-button color="warn" class="ml10" (click)="eliminarExamen(e.examenId)">
        <mat-icon mat-list-icon>delete</mat-icon> Eliminar
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>

<div class="container text-center mt20">
  <button routerLink="/admin/add-examen" mat-raised-button color="primary">
    <mat-icon mat-list-icon>upload</mat-icon> Agregar exámen
  </button>
</div>