
html, body { 
  height: 100%;
  margin: 0;
  padding: 0;
 }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;   
  background: #ffffff;
}

body.light-theme {
  --background-color: #ffffff;
  --text-color: #000000;
  --border-color: #e0e0e0;
  
  background: var(--background-color);
  color: var(--text-color);
}

body.dark-theme {
  --background-color: #121212;
  --text-color: #ffffff;
  --border-color: #333333;
  
  background: var(--background-color);
  color: var(--text-color);

}

.text-center{
  text-align: center;
}

.ml20{
  margin-left: 20px !important;
}

.mr20{
  margin-right: 20px !important;
}

.mt20{
  margin-top: 20px !important;
}

.mb20{
  margin-bottom: 20px !important;
}

.ml10{
  margin-left: 10px !important;
}

.mr10{
  margin-right: 10px !important;
}

.mt10{
  margin-top: 10px !important;
}

.mb10{
  margin-bottom: 10px !important;
}

.ml70{
  margin-left: 20px !important;
}



input, label {
  color: initial;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

